body, h1, h2, h3, h4, h5, h6, p, ul{
    margin:0;
    padding: 0;
    font-family: 'Segoe UI';
}
.navbar-brand img{
    width: 45px;
    height: 45px;
}
.navbar{
    background-color: #2C4175;
    padding-left: 80px;
}
.nav-link{
    color: #F8F3EF;
    font-size: 20px;
}
.section-1{
    background-image: url('../img/backgrounds/bg-home.jpg');
    height: 865px;
}
.section-1{ 
    color: #F8F3EF;
}
.section-1 div.container h1{
    font-size: 70px;
}
.section-1 div.container h3{
    font-size: 50px;
}
.section-1 div.container p{
    font-size: 24px;
}
.section-1 div.container{
    margin-top: 180px
}

h6{
    font-size: 28px;
    color: #2B2B2B;
    /* SET OPACITY */
    margin:5px auto;
}
h4{
    font-size: 45px;
    color: #2B2B2B;
    /* SET OPACITY */
    margin: 10px auto;
}
.section-2 h3.title-headers{
    font-size: 45px
}
.section-2 p{
    font-size: 22px;
    padding-left: 50px;
}

h3.title-headers{
    margin-bottom: 20px;
}
.section-2 h3.section-2-header{
    margin-left: 180px;
}
.section-2 div.section2-left{
    padding-left: 100px;
    padding-right:0px;
    border-right: solid .5px black;
}
.section-2 div.section2-right{
    padding-right: 100px;
    padding-left: 0px;
    border-left: solid .5px black;
}

hr{
    margin-top: 0;
    margin-bottom: 0;
    border-color: black;
}
span.fas{
    font-size: 30px;
    padding: 30px;
}
.section-3{
    background-color: #F9F9F9;
}
.section-3 div.card{
    background-color: #F8F3EF;
    border: solid 1px #707070;
}
h2.card-title{
    font-size: 24px;
    padding:0;
    margin: 0;
}
.card-image-top{
    margin: 10px;
    border: solid .5px #C8C7C7;
}
.card-body{
   padding-top: 0;
}
.section-4 p{
    font-size: 22px;
}
.section-4 div.section4-left{
    padding-left: 100px;
}

.section-4 h3.title-headers{
    margin-top: 100px;
}
.section-4 p{
    padding-left: 50px;
    padding-right: 50px;
}
h6.section-title{
    font-size: 50px;
    position: absolute; 
    margin: 40px auto; 
    z-index:1 ;
}
.section4-left img{
    float: right; 
    margin-right: 30px; 
    position: relative; 
    bottom: 30px;
}
.section-4 div.bottom-part{
    margin-left: 50px;
    margin-top: 20px;
}

.filter-gradient-blue{
    position: absolute;
    background-image: linear-gradient(-45deg,#557CE3,#FFFFFF);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: .25;
}

.filter-gradient-orange{
    position: absolute;
    background-image: linear-gradient(45deg,#E29B84,#FFFFFF);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: .25;
}

.section-5{
    background-image:  url('../img/backgrounds/bg-footer.png');;
}
.section-5 h4{
    font-size: 30px;
}

div.square1{
    position: relative;
    background: #D8D7D7;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    padding: 20px;
}


img.profile-image{
    height: 70px;
    width: 70px;
    background-color: #bbb;
    border-radius: 50%;
   
  
}
span.profile-name{
    font-size: 22px;
}

.middle-profile {
	position: relative;
	background: #1E55E6;
    border-radius: 15px;
    padding: 20px;
    top: 40px;
    color: white;
}

.middle-profile::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 54px solid transparent;
	border-top-color: #1E55E6;
	border-bottom: 0;
	margin-left: -54px;
	margin-bottom: -54px;
}

img.middle-profile-image{
    height: 70px;
    width: 70px;
    background-color: #bbb;
    border-radius: 50%;
    position: relative;
    top: 75px;
    left: 15px;
}
.middle-profile-name{
    position: relative;
    top: 180px;
    font-size: 22px;
}

div.square2{
    position: relative;
    background: #D8D7D7;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    padding: 20px;
}
img.right-profile-image{
    height: 70px;
    width: 70px;
    background-color: #bbb;
    border-radius: 50%;
}
.section-6 img.lg-icons{
    position: absolute;
    top: 0; 
    left:0; 
}

span.right-profile-name{
    font-size: 22px;
}
ul.icons li{
    display: inline-block;
    margin-top: 30px;
    list-style: none;
}
ul.icons img{
    width: 40px;
    height: 40px;
}
div.mobile-telephone{
    margin-top: 20px;
}
div.location{
    margin-top: 20px;
}
.section-6{
    color:  #F8F3EF;
}
.section-6 a{
    font-size: 15px;
    text-decoration: none;
    color:  #F8F3EF;
}
.section-6 li{
    list-style: none;
}
.section-6{
    margin-top: 150px;
    background-color: #2E2E2D;
}
.section-6 div.container-fluid{
    padding-top: 20px;
}
.section-6 div.container-fluid p{
    padding: 35px;

}
.footer{
    color:  #F8F3EF;
    background-color: #2C3F6E ;
}